//Navigation Assignment
/*In the browser to the right, you should see a site for buying groceries. The currently selected product is “Organic Blueberries”. 
If you landed on this page, you may have some questions.
Can I buy anything besides blueberries?
Is everything on this site organic or can I buy conventional produce?
Does this site offer non-produce items?
By adding breadcrumbs to this site, you will be adding a UI element that hints to some of the questions above. By doing so, 
users will have a better feeling for what the site provides and the optional attributes of the product they are purchasing.
We are focused on the layout of this page and will be implementing the breadcrumbs via HTML and CSS. The links to the breadcrumbs will not function.*/

readcrumb li{
  display:inline;
  background-color: yellow;
  border: 1px solid black
  
}
.breadcrumb li.location+li.location::before{
  content: " > "
}
.breadcrumb li.attribute a {
  color: gray;
}
.breadcrumb li.attribute::after {
  content: "X";
  color: red;
  font-size: 10px;
  vertical-align: super;
}
